In [6]:
from splinter import Browser
import requests
from selenium import webdriver
#BEAUTFILSOUP ALLOWS US TO VISIT WEBPAGES 
from bs4 import BeautifulSoup
import pandas as pd
import pprint
import pymongo

In [7]:
#open chrome driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## Scrape NASA Mars News Site for the Latest Article and its Text

In [12]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
# HTML object
html=browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [13]:
# Collect the latest News Title and Paragraph Text
news_title = soup.find("div", class_="content_title").text
print(news_title)

Why This Martian Full Moon Looks Like Candy

In [14]:
import pprint

In [1]:
#pprint.pprint(soup)

In [8]:
news_p = soup.find("div", class_ ="article_teaser_body").text
print(news_p)

None

## Scrape JPL for Featured Space Image and Save Large Image

In [6]:
#JPL Mars Space Images Scrape using splinter
#image location
img_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(img_url)

# HTML object
html=browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [7]:
#use soup to locate image
img_url = soup.find('article', class_='carousel_item')['style']
print(img_url)

background-image: url('/spaceimages/images/wallpaper/PIA02570-1920x1200.jpg');

In [8]:
#extract url appendage from style text
split_text = img_url.split("'")
print(split_text[1])

/spaceimages/images/wallpaper/PIA02570-1920x1200.jpg

In [9]:
#add url appendage to main jpl url 
featured_image_url = f'https://www.jpl.nasa.gov{split_text[1]}'
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA02570-1920x1200.jpg

## Scrape Latest Mars Weather Tweet from its Twitter Account

In [10]:
tweet_url = 'https://twitter.com/marswxreport?lang=en'
# Retrieve page with the requests module
response_weather = requests.get(tweet_url)

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(response_weather.text, 'lxml')

In [11]:
mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text.strip()
print(mars_weather)

InSight sol 425 (2020-02-06) low -90.6ºC (-131.1ºF) high -11.1ºC (12.0ºF)
winds from the SSE at 5.6 m/s (12.6 mph) gusting to 21.3 m/s (47.5 mph)
pressure at 6.30 hPapic.twitter.com/DkXWyPraHm

# Scrape Mars Facts Webpage for Planet Facts

In [30]:
import pandas as pd
mars_facts_url = 'https://space-facts.com/mars/'
browser.visit(mars_facts_url)
# HTML object
html=browser.html

In [31]:
facts_table = pd.read_html(mars_facts_url)

In [32]:
facts_table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [33]:
mars_facts_df = facts_table[0]
mars_facts_df.columns = mars_facts_df.columns.astype(str)

mars_facts_df.columns

Index(['0', '1'], dtype='object')

In [25]:
mars_facts_df.set_index('0')
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [37]:
#rename columns
mars_facts_df.rename({"0":"Descriptor", "1":"Value"},axis=1,inplace=True)
# mars_facts_df.columns = ['Descriptor','Value']
mars_facts_df

             Descriptor                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [77]:
#convert dataframe into html table
html_table = mars_facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [82]:
#html_table.replace('\n','')
#html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [85]:
mars_facts_df.to_html('facts_table.html')

# Obtain Mars Hemispheres Images

In [88]:
mars_hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(mars_hemispheres_url)
html=browser.html
soup=BeautifulSoup(html, 'html.parser')

In [98]:
#click on the link to Cerberus hemisphere
cerberus_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced"
browser.visit(cerberus_url)
html=browser.html
soup=BeautifulSoup(html, 'html.parser')
#use beautiful soup to grab image
cerberus = soup.find('div', class_ = 'downloads')
cerberus_link = cerberus.find('a')
cerberus_href = cerberus_link['href']

print(cerberus_href)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

In [99]:
schiaparelli_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced"
browser.visit(schiaparelli_url)
html=browser.html
soup=BeautifulSoup(html, 'html.parser')
#use beautiful soup to grab image
schiaparelli = soup.find('div', class_ = 'downloads')
schiaparelli_link = schiaparelli.find('a')
schiaparelli_href = schiaparelli_link['href']

print(schiaparelli_href)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg

In [100]:
Syrtis_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced"
browser.visit(Syrtis_url)
html=browser.html
soup=BeautifulSoup(html, 'html.parser')
#use beautiful soup to grab image
Syrtis = soup.find('div', class_ = 'downloads')
Syrtis_link = Syrtis.find('a')
Syrtis_href = Syrtis_link['href']

print(Syrtis_href)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg

In [101]:
valles_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced"
browser.visit(valles_url)
html=browser.html
soup=BeautifulSoup(html, 'html.parser')
#use beautiful soup to grab image
valles = soup.find('div', class_ = 'downloads')
valles_link = valles.find('a')
valles_href = valles_link['href']

print(valles_href)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [103]:
#save image url and title containing the hemisphere name
#make library

hemisphere_image_urls = [
    {'title': "Valles Marineris Hemisphere", 'img_url': valles_href},
    {'title': "Syrtis Major Hemisphere", 'img_url': Syrtis_href},
    {'title': "Schiaparelli Hemisphere", 'img_url': schiaparelli_href},
    {'title': "Cerberus Hemisphere", 'img_url': cerberus_href}
    
]
hemisphere_image_urls

[{'title': 'Valles Marineris Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Cerberus Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}]